<div class="crumbs">
  Overview
</div>
<div class="content">
  <h2>Collections</h2>
  <% if collections.empty? %>
    <%= "No Collections" %>
  <% else %>
    <% collections.each do |c| %>
      <div><a href="/<%=c.name %>"><%= c.name %></a></div>
    <% end %>
  <% end %>
</div>
<div class="footer">
  <h2>New Collection</h2>
  <form action="/" method="POST">
  <input type="text" id="collection_name" name="collection[name]" placeholder="Name" size="40">
  <input type="submit" value="Create">
  </form>
</div>