<!doctype html>
<html>
<head>
<link rel="stylesheet" href="http://yandex.st/highlightjs/6.1/styles/default.min.css">
<link rel="stylesheet" href="/css/site.css">
<script src="http://yandex.st/highlightjs/6.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<%= yield %>
</body>
</html>
