body {
  font-family: HelveticaNeue-Light, 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
a { text-decoration: none; }
a:hover { text-decoration: underline; }
.crumbs {
  color: rgb(102,162,201);
  font-size: 30px;
  margin-bottom: 20px;
  background-color: rgb(211,222,193);
  padding: 10px;
}
.content a,
.crumbs a { color: rgb(102,162,201); }
.content a:visited,
.crumbs a:visited { color: rgb(102,162,201); }
h1, h2 {
  font-weight: normal;
  color: rgb(102,162,201);
  margin: 5px 0 15px 0;
}
.content table {
  margin-top: 12px;
}
table.documents {
  width: 1200px;
}
.content th { 
  font-weight: normal;
  font-size: 12px;
}
td.number { text-align: right; }
td.name { width: 300px; }
td.count { width: 120px; }
td.document_id { width: 250px; }
#document {
  width: 900px;
  height: 350px;
  padding: 10px;
  font-size: 14px;
}
.content {
  padding: 10px;
}
form input {
  font-size: 18px;
}
div.popup {
  position: absolute;
  top: 100px;
  left: 100px;
  border: 3px solid rgb(211,222,193);
  background-color: white;
  z-index: 1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 25px rgb(211,222,193);
}
div.popup .submit {
  margin-top: 20px;
}
div.popup input[type="submit"] {
  background-color: rgb(102,162,201);
  border: none;
  border-radius: 5px;
  font-size: 24px;
  color: white;
  padding: 7px 20px 7px 20px;
}
div.popup input[type="submit"]:hover {
  background-color: rgb(54,112,153);
}
div.popup a.close {
  color: red;
  font-size: 80%;
  padding-left: 20px;
}
div.empty {
  margin: 40px 0 0 0;
}
#json_error.error {
  padding: 5px;
  background-color: pink;
  border: 1px solid red;
  text-align: center;
  margin-bottom: 5px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.page_navigation {
  margin-top: 20px;
}
.table_wrapper {
  min-height: 400px;
}